<!DOCTYPE html>
<html>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="file:///Users/jlie_hng/wdi/express-routes-training/public/gallery.js"></script>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form id="gallery-form">
    <input id="artist" name="artist" placeholder="name of artist" type="text" />
    <input id="title" name="title" placeholder="title of painting" type="text" />
    <input id="period" name="period" placeholder="period of piece" type="text" />
  </form>
  </body>
</html>
